/* Theme-specific styling
 */
.thumbnail img {
    margin-left: auto;
    margin-right: auto;
}
.caption a {
    color: #555555;
}
ul.navTree {
    margin: 0;
    padding: 0;
}
.hidden {
    display: none;
}
.col-sm-6 {
    padding-bottom: 15px;
}

#edit-bar, #content ul.formTabs {
    margin-bottom: 20px;
}
#personaltools {
    padding-top: 15px;
}
.table-striped,
.table-hover,
.table-bordered,
.table-condensed{
    margin-bottom: 20px;
    width: 100%;
}