/* Theme-specific styling
 */
.navbar {
    margin-bottom: 0;
}
.thumbnail img {
    margin-left: auto;
    margin-right: auto;
}
.caption a {
    color: #555555;
}
ul.navTree {
    margin: 0;
    padding: 0;
}
.hidden {
    display: none;
}
.col-sm-6 {
    padding-bottom: 15px;
}

#edit-bar, #content ul.formTabs {
    margin-bottom: 20px;
}
#personaltools {
    padding-top: 15px;
}
.table-striped,
.table-hover,
.table-bordered,
.table-condensed{
    margin-bottom: 20px;
    width: 100%;
}
#slider {
    padding: 0;
}
.flexslider {
    border: 0 none;
    margin: 0 0 20px;
}
.flex-caption {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    bottom: 0;
    display: block;
    left: 0;
    margin: 0;
    padding: 10px;
    position: absolute;
    width: 37%;
}
.flex-caption {
    border-left: 4px solid #5C8F27;
}
.flex-caption h3 {
    color: #ffffff;
}