/* Theme-specific styling
 */
.thumbnail img {
    margin-left: auto;
    margin-right: auto;
}
.caption a {
    color: #555555;
}
ul.navTree {
    margin: 0;
    padding: 0;
}
.hidden {
    display: none;
}